.button {
    border-radius: $rounded;
    background-color: $primary-color;
    border: none;
    padding: 1em;
    font-size: 1em;
    @include shadow();
}
.button-group {
    display: flex;
    .button + .button {
        margin-left: 1em;
    }
}
